<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}} - {{serverName}}</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
</head>

<body class="dark_background fonts">
    <center>
        <div class="box" align="center">
            {{{body}}}
        </div>
    </center>
</body>

</html>